@model IEnumerable<ArtGallery.Models.ArtworkArtistPieceViewModel>

@{
    ViewBag.Title = "Gallery";
}

<h2>Would you like a cup of espresso</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { style = "margin-right:50px" })
    @Html.ActionLink("View Inventory", "Inventory", null, new { style = "margin-right:50px" })
    @Html.ActionLink("View Sales", "Sales", null, new { style = "margin-right:50px" })
</p>

<form asp-controller="Artists" asp-action="Index">
    <p>
        Artist: @Html.DropDownList("artistString", "All")
        Medium: @Html.DropDownList("mediumString", "All")
        Category: @Html.DropDownList("categoryString", "All")
        Price: @Html.DropDownList("priceString", "All")
        <input type="submit" value="Filter" />
    </p>
</form>



<table class="table">
    <tr>
        <th>
            Artist
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Available
        </th>
        <th>
            Location
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberInInventory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.ImageURL)>
                    <img src=@Html.DisplayFor(modelItem => item.ImageURL) height="45">
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtworkId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArtworkId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId })
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>