@model IEnumerable<ArtGallery.Models.ArtworkArtistPieceViewModel>

@{
    ViewBag.Title = "Gallery";
}

<h2>Would you like a cup of espresso</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("View Inventory", "Inventory")
    @Html.ActionLink("View Sales", "Sales")
</p>

<form asp-controller="Artists" asp-action="Index">
    <p>
        Artist: @Html.DropDownList("artistString", "All")
        Medium: @Html.DropDownList("mediumString", "All")
        Category: @Html.DropDownList("categoryString", "All")
        Price: @Html.DropDownList("priceString", "All")
        <input type="submit" value="Filter" />
    </p>
</form>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberInInventory)
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberInInventory)
            </td>

            <td>
                <a>
                    <img src=@Html.DisplayFor(modelItem => item.ImageURL) height="45">
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArtworkId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArtworkId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId })
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>