@model IEnumerable<ArtGallery.Models.ArtworkArtistPieceViewModel>

@{
    ViewBag.Title = "AllWorks";
}

<h2>Would you like a cup of espresso</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtistId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOriginalCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dimensions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberMade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberInInventory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberSold)
        </th>
        <th></th>
    </tr>

@{ var message = "Open"; }
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtistId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOriginalCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimensions)
        </td>
        <td>

            @if (item.NumberMade < 0)
            {
                @message
            }
            else
            {
                @Html.DisplayFor(modelItem => item.NumberMade);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberInInventory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberSold)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ArtworkId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ArtworkId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId })
        </td>
    </tr>
}
</table>