<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <a href="https://en.wikipedia.org/wiki/Le_P%C3%A9tomane">
        <img style="position:fixed;top:51;left:0" src="https://upload.wikimedia.org/wikipedia/commons/7/71/Joseph_Pujol_%28Le_Petomane%29_at_concert.jpeg" />
    </a>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Galerie Le P\xE9tomane", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style="color:#BDEEFF" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Gallery", "Gallery", "Artworks")</li>
                    <li>@Html.ActionLink("Inventory", "Inventory", "Artworks")</li>
                    <li>@Html.ActionLink("Sales", "Sales", "Artworks")</li>
                    <li>@Html.ActionLink("Agents","Index","Agents")</li>
                    <li>@Html.ActionLink("Customers","Index","Customers")</li>
                    <li>@Html.ActionLink("Shows","Index","ArtShows")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The Triumvirate</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
